<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation</title>
</head>

<body>
    <h1>Registration succesfful</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>city</td>
            <td>{{city}}</td>
        </tr>
        <tr>
            <td>phone</td>
            <td>{{phone}}</td>
        </tr>
    </table>
    <a href="/second">Go to the second Page</a>
</body>

</html>