<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Test from base thml {% endblock %}</title>
</head>

<body>
    {% block content %}

    <p>Click to test the <a href="/hyperlink">hyperlink</a></p>
    <center><img src="{{user_img}}" alt=""></center>
    <pre>
    <form action="/confirmation" method="post">
        <label>Name</label>
        <input type="text" name="name" id="">
        <label>city</label>
        <input type="text" name="city" id="">
        <label>Phone</label>
        <input type="text" name="phone" id="">
        <input type="submit" value="Register">
    </form>
    <p>Hellow this is Sunil Biswakarma</p>
{% endblock %}
</pre>
</body>

</html>